<% @posts.each do |post| %>
  <div class="transparent-box span4">
    <h1>
      <%= post.title %>
    </h1>
    <h3>
      <%= post.description %>
    <h3>
       <%= image_tag post.image %>
    <h4>
    </h4>
  </div>
<% end %> 